/**
 * @see https://github.com/vaadin/web-components/blob/23.2/packages/button/theme/lumo/vaadin-button-styles.js
 */
.button {
    --lumo-button-size: var(--lumo-size-m);

    /* Structure */
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: normal;
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;
    cursor: var(--lumo-clickable-cursor);
    -webkit-user-drag: none;
    user-select: none;
    box-sizing: border-box;
    position: relative;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* For interaction states */
.button::before,
.button::after {
    content: '';
    /* We rely on the host always being relative */
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: currentColor;
    border-radius: inherit;
    opacity: 0;
    pointer-events: none;
}

/* Firefox: Get rid of the inner focus border */
.button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

/* Inherit .pure-g styles */
.button-group {
    letter-spacing: -0.31em; /* Webkit: collapse white-space between units */
    text-rendering: optimizespeed; /* Webkit: fixes text-rendering: optimizeLegibility */
}

.opera-only :-o-prefocus,
.button-group {
    word-spacing: -0.43em;
}

.button-group .pure-button {
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
}
