table {
    /* Remove spacing between table cells (from Normalize.css) */
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    border: 1px solid var(--lumo-contrast-10pct);
}

table caption {
    color: #000;
    font: italic 85%/1 arial, sans-serif;
    padding: var(--lumo-space-m) 0;
    text-align: center;
}

table td,
table th {
    border-left: 1px solid var(--lumo-contrast-10pct);/*  inner column border */
    border-width: 0 0 0 1px;
    font-size: inherit;
    overflow: visible; /*to make ths where the title is really long work*/
    padding: var(--lumo-space-wide-m); /* cell padding */
}

@media screen and (min-width: 35.5em) {
    table td,
    table th {
        padding: var(--lumo-space-wide-l); /* cell padding */
    }
}

table tfoot,
table thead {
    background-color: #e0e0e0;
    color: #000;
    text-align: left;
    vertical-align: bottom;
}

/*
striping:
   even - #fff (white)
   odd  - #f2f2f2 (light gray)
*/
table td {
    background-color: transparent;
}
.odd td {
    background-color: var(--lumo-contrast-5pct);
}

/* nth-child selector for modern browsers */
table.striped tr:nth-child(2n-1) td {
    background-color: var(--lumo-contrast-5pct);
}

/* BORDERED TABLES */
table.bordered td {
    border-bottom: 1px solid var(--lumo-contrast-10pct);
}
table.bordered tbody > tr:last-child > td {
    border-bottom-width: 0;
}


/* HORIZONTAL BORDERED TABLES */

table.horizontal td,
table.horizontal th {
    border-width: 0 0 1px 0;
    border-bottom: 1px solid var(--lumo-contrast-10pct);
}
table.horizontal tbody > tr:last-child > td {
    border-bottom-width: 0;
}
